@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

body{
  font-family: 'Mulish', sans-serif;
  background-color: #16161a;
  color: azure;
}

header {
  padding: 156px 0 100px;
  color:#fffffe;
}

section {
  padding: 150px 0;
}

button{
  color:#7f5af0;
}

a{
  color: #2cb67d;
}

a:hover{
  color: #7f5af0; 
  text-decoration: none; 
}

ul.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  padding: 25px;
  margin: 20px 0 0 0;
  overflow: hidden;
  list-style: disc;
}

ul.skills-list.li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
}

#experince , #head , #work , #contact , #about{
  padding : 20px 15px 20px 15px ;
}

.skills{
  padding-top: 70px;
}

.profile-picture{
  width: 300px;
}

#role{
  padding-left: 20px;
}

.project-stack{
  float: right;
}